<plugin name='entry-points' version='1.1' grailsVersion='2.4 &gt; *'>
  <author>Vincent Barrier</author>
  <authorEmail>barrier.vincent@gmail.com</authorEmail>
  <title>Entry points for your grails app (entry points inside gsp &amp; controllers)</title>
  <description>
        used in iceScrum -&gt; http://www.icescrum.org
    </description>
  <documentation>http://www.icescrum.org/plugin/entry-points</documentation>
  <type>EntryPointsGrailsPlugin</type>
  <resources>
    <resource>org.icescrum.plugins.entryPoints.services.EntryPointsService</resource>
    <resource>org.icescrum.plugins.entryPoints.EntryPointsTagLib</resource>
  </resources>
</plugin>